* {
    margin: 0;
    padding: 0;
    background-color: #F3ECDD;
}



span {
    font-size: 20px;
    display: inline-block;
}

body {
    font-family: sans-serif;
}

/* basically flex container */
header {

    border: 3px solid #55403B;
    display: flex;

    border-left: 0px;
    border-right: 0px;


    /* move links to the center*/
    justify-content: center;


    /* centering our title and links */
    align-items: center;

    /* padding order: top right bottom left */
    padding: 30px 36px;

    margin-top: 20px;
}




ul {

    /* to remove bullet points */
    display: block;
    text-decoration: none;
    list-style-type: none;


    /* how to center horizontally and vertically */
    justify-content: center;
    align-items: center;

    li {
        font-size: 18px;


        /* display in one line */
        display: inline-block;

        /* spacing out the three links apart */

        &:first-child {
            margin-right: 44px;
        }

        &:nth-child(2) {
            margin-right: 44px;
        }
    }


}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: none;
}


.place-description {
    display: flex;
    text-align: left;


    /* how to center horizontally and vertically */
    justify-content: center;
    align-items: right;

    /* additional text can be added under */
    flex-direction: column;


    line-height: 20px;
}

.description {

    font-size: 35px;

    display: flex;
    text-align: center;


    /* how to center horizontally and vertically */
    justify-content: center;
    align-items: right;

    /* additional text can be added under */
    flex-direction: column;


    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-section {
    height: 60vh;
    display: flex;
    text-align: center;
    padding: 36px;


    /* how to center horizontally and vertically */
    justify-content: center;
    align-items: center;

    /* additional text can be added under */
    flex-direction: column;
    line-height: 20px;

}

h1 {
    font-family: "the-seasons", sans-serif;

    font-size: 64px;
    line-height: 70px;
    color: #F6818A;
    line-height: 50px;

    &:hover {
        animation-duration: 2s;
        color: rgb(181, 167, 143);

    }
}

h2 {
    font-size: 24px;
    margin-top: 18px;
    margin-bottom: 18px;
}

h3 {
    font-size: 24px;
    line-height: 36px;

    margin-bottom: 12px;

    /* font-family: "Preahvihear", sans-serif; */
    font-family: "Mirza", serif;

    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 120px;
}

.call-to-action {
    font-size: 12px;

    text-transform: uppercase;

}





.footer {
    height: 200px;
    display: flex;
    text-align: center;



    justify-content: center;
    align-items: center;



    padding: 30px 36px;

}






/* fonts */

/* adobe font */
.seasons {
    font-family: "the-seasons", sans-serif;
    font-style: normal;
    font-weight: 300;
}

.seasonsBold {
    font-family: "the-seasons", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* google font */
.preahvihearReg {
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* google font */

.mirzaReg {
    font-family: "Mirza", serif;
    font-weight: 400;
    font-style: normal;
}

.mirzaBold {
    font-family: "Mirza", serif;
    font-weight: 700;
    font-style: normal;
}



/* animations */
/* referenced Alice Yin's code */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* referenced Alice Yin's code */
.spin {
    animation: rotation 2s infinite linear;
}



/* chatgpt scroll animation code */

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scroll-left {
    width: 100%;
    overflow: hidden;
}

.content {

    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
    /* Adjust the duration and timing function as needed */
}